# APP
APP_STATE=dev
APP_NAME=vigilate

# PostgresDB
POSTGRES_IMAGE_TAG=postgres:15-alpine
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable
POSTGRES_DB_NAME=${APP_NAME}-${APP_STATE}
POSTGRES_HOST=127.0.0.1
POSTGRESQL_URL="postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}?sslmode=${POSTGRES_SSL_MODE}"

# Migration
MIGRATION_PATH=./db/migration
MIGRATION_IMAGE_TAG=migrate/migrate:v4.16.2

# PUSHER
PUSHER_HOST=localhost
PUSHER_KEY=key
PUSHER_SECRET=secret
PUSHER_APP=1
PUSHER_PORT=4002
PUSHER_SECURE=fales

# STMP Server
STMP_Host="smtp.gmail.com"
STMP_Port=465
STMP_UserName="example@gmail.com"
STMP_Password="password"
